.mediumConfidence :global([class*='spotlight_input']) {
  border-color: var(--color-border-attention-secondary);
  background-color: var(--color-background-attention-secondary);
  transition: 0.3s border-color;
}

.activeCell :global([class*='spotlight_input']) {
  background-color: #fff3cc;
  border: 1.5px solid #ba7511;
  transition: 0.15s border-color, 0.15s background-color;
}

.acceptedCell :global([class*='spotlight_input']) {
  background-color: #eaf3de;
  border: 1.5px solid #639922;
  transition: 0.15s border-color, 0.15s background-color;
}

.discrepancyWarning :global([class*='spotlight_input']) {
  border-color: var(--color-border-critical-secondary);
  transition: 0.3s border-color;
}

.discrepancyIcon {
  color: var(--color-content-critical-primary);
}

.discrepancyTooltip {
  display: flex;
  align-items: center;
}
