.app_root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background-page);
}

.app_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: var(--color-text-secondary);
  font-size: var(--font-size-lg);
}

.app_header {
  position: sticky;
}